<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" >
    <th:block th:fragment="headFragment">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Spring | Full Stack</title>
            <link rel="stylesheet" href="/css/bootstrap.css" />
            <link rel="stylesheet" href="/css/common.css" />
            <script type="text/javascript" src="/js/bootstrap/bootstrap.min.js"></script>    
            <script type="text/javascript" src="/js/common.js"></script>    
        </head>
    </th:block>
</html>